body {
background: #f5f4f4; margin: 20pt; 
}

*.news {    color: #666666;    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', 'sans-serif';    font-size: 12px;    font-style: normal;    font-variant: normal;    font-weight: normal;    letter-spacing: 0;    line-height: 17px;    text-align: left;    text-decoration: none;    text-indent: 0px;
    width:450px;    text-transform: none;
    padding: 10px 10px 10px 50px;
}

a img {
	border: 0px;
}

img.left {   		float:left;  		padding: 10px 10px 10px 10px;  	}  	  	img.right {   		float:right;  		padding: 10px 10px 10px 10px;  	}

#content {		background-repeat: no-repeat;		background-position: center;		//height: 650px;		position:relative;	}	
	#article {		position:relative;
		color: #666666;		margin: 20px 0px;		 font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', 'sans-serif';    font-size: 12px;    font-style: normal;    font-variant: normal;    font-weight: normal;		padding: 10px 10px 10px 10px;	 	float: left;	}
h3 {    color: #666666;    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', 'sans-serif';    font-size: 14px;    font-style: normal;    font-variant: normal;    font-weight: bold;    letter-spacing: 0;    line-height: 15px;    margin-bottom: 0px;    margin-left: 0px;    margin-right: 0px;    margin-top: 0px;    opacity: 1.00;    padding-bottom: 8px;    padding-top: 0px;    text-align: left;    text-decoration: none;    text-indent: 0px;    text-transform: none;}

h4 {    color: #666666;    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', 'sans-serif';    font-size: 12px;    font-style: normal;    font-variant: normal;    font-weight: bold;    letter-spacing: 0;    line-height: 15px;    margin-bottom: 0px;    margin-left: 0px;    margin-right: 0px;    margin-top: 0px;    opacity: 1.00;    padding-bottom: 8px;    padding-top: 0px;    text-align: left;    text-decoration: none;    text-indent: 0px;    text-transform: none;}

.links {
	font-family: Arial, Verdana;
	font-size:15px;
	font-weight: bold;
	color:#999999;
	text-decoration:none;
}
.links:hover {
	font-family: Arial, Verdana;
	font-size:15px;
	color:#666666;
	text-decoration:none;
}

#logo {		background-image: url('images/beach.jpg');		background-repeat: no-repeat;		background-position: center;
		height: 150px;		position:relative;	}
	
	#container {		margin:0em auto;		text-align: left;		width:700px;	}

