<?xml version="1.0" encoding="UTF-8"?>
<context xmlns="http://piwi.googlecode.com/xsd/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://piwi.googlecode.com/xsd/context ../xsd/context.xsd">

	<!-- Configuration -->
	<bean id="configurationManager" class="ConfigurationManager" scope="request">
        <property name="configFilePath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH . '/config.xml'" />
    </bean>

	<bean id="site" class="Site" scope="request">
        <property name="contentPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH" />
        <property name="templatesPath" php="$GLOBALS['PIWI_ROOT'] . TEMPLATES_PATH" />
        <property name="siteFilename" value="site.xml" />
    </bean>
    
    <!-- Input Reader -->
    <bean id="xmlPage" class="XMLPage" scope="request">
        <property name="contentPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH" />
        <property name="site" ref="site" />
        <property name="configuration" ref="configurationManager" />
    </bean>
   
   <!-- Input Reader -->
    <bean id="creoleWikiPage" class="CreoleWikiPage" scope="request">
        <property name="contentPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH" />
        <property name="site" ref="site" />
        <property name="configuration" ref="configurationManager" />
    </bean>
    
    <bean id="dokuWikiPage" class="DokuWikiPage" scope="request">
        <property name="contentPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH" />
        <property name="site" ref="site" />
        <property name="configuration" ref="configurationManager" />
    </bean>
    
    <bean id="rstPage" class="RSTPage" scope="request">
        <property name="contentPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH" />
        <property name="site" ref="site" />
        <property name="configuration" ref="configurationManager" />
    </bean>
    
     <bean id="docbookPage" class="DocbookPage" scope="request">
        <property name="contentPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH" />
        <property name="site" ref="site" />
        <property name="configuration" ref="configurationManager" />
    </bean>
    
    <bean id="fodtPage" class="FODTPage" scope="request">
        <property name="contentPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH" />
        <property name="site" ref="site" />
        <property name="configuration" ref="configurationManager" />
    </bean>
    
    <!-- Input Reader -->
    <bean id="streamingPage" class="StreamingPage" scope="request">
    	<property name="streamingFilePath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH . '/streams.xml'" />
    	<property name="site" ref="site" />
    	<property name="configuration" ref="configurationManager" />
    	<property name="xmlPage" ref="xmlPage" />
    </bean>
     
    <!-- Input Reader Selector -->
    <bean id="pipeline" class="Pipeline" scope="request">
    	<property name="site" ref="site" />
    	<property name="configuration" ref="configurationManager" />
    	<properties name="pagemap">
    		<property name="stream" ref="streamingPage" />
    		<property name="xml" ref="xmlPage" />
			<property name="dwiki" ref="dokuWikiPage" />
			<property name="cwiki" ref="creoleWikiPage" />
			<property name="rst" ref="rstPage" />
			<property name="docbook" ref="docbookPage" />
			<property name="fodt" ref="fodtPage" />
    		<property name="default" ref="xmlPage" />
    	</properties>
    </bean> 
    
    <bean id="formFactory" class="FormFactory" scope="request">
        <property name="formsXMLPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH . '/forms.xml'" />
    </bean>
    
   	<bean id="formProcessor" class="FormProcessor" scope="request">
   		<property name="formFactory" ref="formFactory" />
   	</bean>
    
    <bean id="connectorFactory" class="ConnectorFactory" scope="request">
        <property name="connectorsXMLPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH . '/connectors.xml'" />
    </bean>
    
    <bean id="generatorFactory" class="GeneratorFactory" scope="request">
        <property name="generatorsXMLPath" php="$GLOBALS['PIWI_ROOT'] . CONTENT_PATH . '/generators.xml'" />
    </bean>
</context>